@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{ /* ESSA DIV É COMO SE FOSSE O BODY */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #093545;  
}

.forms{
    position: relative;
    max-width: 500px;
    width: 100%;
    background-color: #224957;
    border-radius: 10px;
    box-shadow: 0 0 10px #03212c4f;
}

.forms .form{
    padding: 30px;
}

.forms .form .title{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #f4f4f4;
}

.forms .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 24px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 2px solid #6D99A8;
    border-top: 2px solid transparent;
    transition: all 0.3s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #72C14D;
}

.input-field input:is(:focus, :valid) ~ .showHidePw{
    color: #72C14D;
}

.input-field .eye{
    position: absolute;
    top: 50%;
    font-size: 23px;
    color: #6D99A8;
    transform: translateY(-50%);
    cursor: pointer;
}

.input-field .icon{
    left: 0;
}

.input-field .showHidePw{
    right: 0;
}

.input-field .uil-eye-slash{
    cursor: pointer;
}

.input-field input::placeholder{
    color: #6D99A8;
}

.form .toLogin{
    margin-top: 20px;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.toLogin .content{
    display: flex;
    align-items: center;
}

.content input{
    accent-color: #72C14D;
    margin: 0 8px -2px 4px;
}

.form .forgot:hover{
    text-decoration: underline;
    cursor: pointer;
}

.form .text{
    font-size: 14px;
}

.divider{
    display: flex;
    padding: 12px 0 12px 0;
    align-items: center;
}

.divider h4{
    padding: 0 8px 0 8px;
    color: white;
    font-weight: 400;
}

.notAccount{
    margin-top: 20px;
}

.notAccount .not{
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.notAccount .create{
    font-weight: 600;
    letter-spacing: .5px;
    cursor: pointer;
    color: #72C14D;
}

.notAccount .create:hover{
    text-decoration: underline;
}
